{
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 :paths     ["src" "resources" "target/classes"]

 :deps      {org.clojure/clojure {:mvn/version "1.10.2-alpha4"}}

 :aliases   {
             :repl     {:extra-deps  {nrepl/nrepl          {:mvn/version "0.8.3"}
                                      healthsamurai/matcho {:mvn/version "0.3.7"}
                                      clj-deps/clj-deps    {:mvn/version "0.4.10"}
                                      philoskim/debux      {:mvn/version "0.7.7"}
                                      criterium/criterium  {:mvn/version "0.4.6"}
                                      hashp/hashp          {:mvn/version "0.2.0"}}
                        :extra-paths ["dev/src" "resources" "test"]
                        :jvm-opts    [
                                      ;;;; uncomment this if you want to debug in IntelliJ IDEA
                                      ;; "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005"
                                      ]
                        :main-opts   ["--main" "nrepl.cmdline"]}

             :pbuilder {:extra-deps  {org.rssys/pbuilder {:mvn/version "0.2.2"
                                                          :exclusions  [org.slf4j/slf4j-simple]}}
                        :extra-paths ["resources"]
                        :main-opts   ["--main" "org.rssys.pbuilder.core"]}

             :test     {:extra-deps  {org.clojure/test.check        {:mvn/version "1.1.0"}
                                      healthsamurai/matcho          {:mvn/version "0.3.7"}
                                      lambdaisland/kaocha           {:mvn/version "1.0.700"}
                                      lambdaisland/kaocha-cloverage {:mvn/version "1.0.63"}}
                        :extra-paths ["resources" "test" "test/resources"]
                        :jvm-opts    []
                        :main-opts   ["--main" "kaocha.runner"]}

             :outdated {:extra-deps {antq/antq {:mvn/version "0.8.0"}}
                        :main-opts  ["-m" "antq.core"]}

             }
 }
